*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.id-card{
    width: 600px;
    background: #fff;
    border: 2px solid #2a2a7f;
    overflow: hidden;
    border-radius: 15px;
   
}
.title{
    background: #2a2a7f;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
}
.details{
    display: flex;
    padding: 20px;
}
.photo{
    margin-right: 20px;
}
.photo img{
    width: 150px;
    height: 180px;
    border: 3px solid #2a2a7f;
    object-fit: cover;
}
.info{
    flex: 1;
}
.info p{
    font-size: 18px;
    margin-bottom: 10px;
}
.info h1{
    font-size: 48px;
    margin-top: 25px;
    color: #111;
}